@import url("index.css");

.home {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  padding-top: 200px;
  position: relative;
  /* padding-bottom: 50px; */
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -10;
}

.home-column {
  width: 90%;
  max-width: 1200px;
}

.home p,
.name-text,
.job-text {
  color: white;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 30px;
  padding-left: 10%;
}

.texts .name-text {
  font-size: clamp(3.5rem, 1rem + 10vw, 7rem);
  animation: nameIntro 1s;
}
.name-text span {
  color: var(--green);
}
@keyframes nameIntro {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
/* .name-logo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}
.home-logo-parent {
  display: flex;
  justify-content: right;
} */
/* .home-logo {
  width: 60%;
  max-width: 370px;
} */

.texts .job-text {
  font-weight: 100;
  font-size: clamp(1rem, 1rem + 1vw, 2rem);
}
.job-text span {
  color: var(--green);
}

.about-me-button-container {
  padding-left: 10%;
}

.about-me-btn {
  background-color: var(--green);
  outline: none;
  border: none;
  border-radius: 2px;

  padding: 10px 25px;
  width: 80px;
  font-weight: 600;
  font-size: 1rem;
  color: black;

  margin-top: 50px;
  display: block;
  cursor: pointer;

  margin-left: -500px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.about-btn-to-right {
  margin-left: 0;
}
.about-me-btn:hover {
  background-color: black;
  color: white;
}

@media (min-width: 800px) {
  .name-logo {
    flex-direction: row;
  }
  .home-logo-parent {
    display: flex;
    width: auto;
    padding: none;
  }
}
